# IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio caches
*.VC.db
*.VC.VC.opendb
ipch/
*.ipch

# Build outputs
[Bb]in/
[Bb]uild/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[xX]64/
[xX]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
*.tlog
*.lastbuildstate
*.log
*.recipe
*.cachefile
*.FileListAbsolute.txt
*.res
*.exp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb
*.ipdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
